*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* navbar section starts here */


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    margin: 30px auto;
}
.logo-container{
    min-width: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width:50%;
}
.logo-container img{
    width: 60px;
    margin-right: 15px;
}
.logo-container h2{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}
.gamer-span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}
.menubar{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menubar a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.menubar .follow{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px 20px;
}

/* navbar section starts here */

/* goat section starts here */

.goat-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1326px;
    margin: 50px auto;
    margin-left: 0;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 700px;
    padding: 0 150px;
}
.goat-text{
    width: 50%;
    list-style: none;
}
.goat-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 30px;
}
.goat-text h2{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
}
.goat-li{
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}
.goat-li li{
    margin-bottom: 20px;
}
.goat-img{
    width: 500px;
    height: 500px;
}
.goat-img img{
    width: 100%;
}
.signin-btn{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 48px;
    background-color: #FF42A5 ;
    padding: 15px 30px;
    border: none;
    margin-right: 15px;
}
.rogue-btn{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 48px;
    background-color: #4EC5F7 ;
    padding: 15px 30px;
    border: none;
}
.goat-icon{
    margin-right: 10px;
    color:#FF42A5;
}
/* goat section starts here */

/* instant play section starts here */
.instant-play-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
.instant-play-img{
    width: 50%;
}
.horse-man{
    width: 100%;
    position: relative;
    top: 150px;
    margin-left: 80px;
}
.rabbit{
    width: 250px;
    position: relative;
    bottom: 80px;
    /* padding-left: 100px; */
    margin-right: 100px;
}
.instant-play-text{
    width: 50%;
    text-align: right;
}
.instant-play-text h2{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 
}
.play-instantly{
    color: #F948B2;
}
.primary-p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    width: 350px;
    line-height: 30px;
    margin-left: 148px;
}
/* instant play section ends here */

/* footer section starts here */

footer{
    background-color: #0B0223;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-logo-container img{
    width: 60px;
    margin-right: 15px;
}
.footer-logo-container>h2{
    font-size: 45px;
    font-weight: 700;
    color:white;
}
.out-story{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
    padding: 30px;
    gap: 50px;
    font-size: 18px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    margin: 40px 0;
    list-style: none;

}
.fa-brands{
    color: white;
    font-size: 30px;
}
.terms{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    margin: 20px 0;
}
.last-line{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.features{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px;
    margin-right: 10px;
    width:max-content;
    
}
.features-container{
    max-width: 1100px;
    margin: 0 auto;
    /* padding-top:100px ; */
}
.feature-img{
    width: 40px;
}
.fetaure-h3{
    font-size: 16px;
}
.first-feature-line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}
.second-feature-line{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
}
.feature-btn:hover{
    border: 1px solid #FF42A5;
    cursor: pointer;
    color:#FF42A5 ;
    transition: 0.5s;
}